<div class="sidebar-header">
    <i class="fa-solid fa-chart-pie"></i>
    <h2>Fin<span>Compare</span></h2>
</div>
<div class="nav-links">
    <a class="nav-link" id="nav-home" onclick="routeTo('/dashboard')">
        <i class="fa-solid fa-house"></i> Dashboard
    </a>
    <a class="nav-link" id="nav-list" onclick="routeTo('/dashboard/product')">
        <i class="fa-solid fa-layer-group"></i> Product List
    </a>
    <a class="nav-link logout" onclick="logout()">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
</div>
